<mat-toolbar color="primary" class="header-toolbar">
  <a routerLink="/" class="logo">Portfolio</a>

  <div class="desktop-nav">
    @for (link of navLinks; track link) {
      <div>
        <a
          [routerLink]="link.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: link.path === ''}"
          mat-button>
          <mat-icon>{{link.icon}}</mat-icon>
          <span>{{link.label}}</span>
        </a>
      </div>
    }
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-btn">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    @for (link of navLinks; track link) {
      <button
        mat-menu-item
        [routerLink]="link.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: link.path === ''}">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.label}}</span>
      </button>
    }
  </mat-menu>
</mat-toolbar>
