<footer class="footer">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://github.com" target="_blank" aria-label="GitHub">
        <mat-icon>code</mat-icon>
      </a>
      <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
        <mat-icon>link</mat-icon>
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <mat-icon>alternate_email</mat-icon>
      </a>
    </div>
    <div class="copyright">
      &copy; {{currentYear}} Portfolio. All rights reserved.
    </div>
  </div>
</footer>
