<footer class="footer">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://github.com/chatyis" target="_blank" aria-label="GitHub">
        <mat-icon>code</mat-icon>
      </a>
      <a href="https://www.linkedin.com/in/micha%C5%82-czy%C5%BC-16006122b" target="_blank" aria-label="LinkedIn">
        <mat-icon>link</mat-icon>
      </a>
      <a href="mailto:michalczyz02@gmail.com" target="_blank" aria-label="Twitter">
        <mat-icon>alternate_email</mat-icon>
      </a>
    </div>
    <div class="copyright">
      &copy; {{currentYear}} Michał Czyż. All rights reserved.
    </div>
  </div>
</footer>
